* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 0px;
    gap: 3rem;
    background-color: black;
}

.card {
    animation: bounceAnimation 1s ease-in-out;
    transition: 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
}
div.card {  
    background-color: antiquewhite;
}
.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    animation: pulse 1s ease;
    border: 1px solid black;
}

.card-text {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color:aquamarine;
    border-radius: 10%;
}

.card-img-top {
    height: 30vh;
}


@keyframes bounceAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    100% {
        transform: scale(1);
        border-radius: 0;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    }

}